* {
    font-family: "Open Sans", sans-serif;
}

:root{
    --principal-color: #111620;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--principal-color);
    border-radius: 50px;
}

/* Home */
.container .navbar-brand {
    padding-top: unset;
    padding-bottom: unset;
}

.navbar-brand .logo {
    height: 5rem;
    width: auto;
}

/* Navbar */
.navbar-light.bg-dark-blue .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light.bg-dark-blue .navbar-nav .nav-link:focus,
.navbar-light.bg-dark-blue .navbar-nav .nav-link:hover {
    color: #ffffff;
}

li .dropdown-item.active,
li .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #010f2d;
}

/* carousel */
header.header1 {
    background: linear-gradient(
            325deg,
            rgba(1, 15, 45, 0.050) 0%,
            rgba(1, 15, 45, 0.200) 25%,
            rgba(17, 22, 32, 1) 100%
        ),
        url(../img/carousel/RFO_BOGOTA.png) no-repeat center top;
    background-size: cover;
    min-height: 88.5vh;
}

/*  SLIDER
header.header2 {
    background: linear-gradient(
            0deg,
            rgba(1, 15, 45, 0.2) 0%,
            rgba(1, 15, 45, 0.4) 25%,
            rgba(1, 15, 45, 1) 100%
        ),
        url(../img/carousel/2.png) no-repeat left;
    background-size: cover;
    min-height: 88.5vh;
}

header.header3 {
    background: linear-gradient(
            0deg,
            rgba(1, 15, 45, 0.2) 0%,
            rgba(1, 15, 45, 0.4) 25%,
            rgba(1, 15, 45, 1) 100%
        ),
        url(../img/carousel/3.png) no-repeat right;
    background-size: cover;
    min-height: 88.5vh;
}

header.header4 {
    background: linear-gradient(
            0deg,
            rgba(1, 15, 45, 0.2) 0%,
            rgba(1, 15, 45, 0.4) 25%,
            rgba(1, 15, 45, 1) 100%
        ),
        url(../img/carousel/4.png) no-repeat right bottom;
    background-size: cover;
    min-height: 88.5vh;
}

header.header5 {
    background: linear-gradient(
            0deg,
            rgba(1, 15, 45, 0.2) 0%,
            rgba(1, 15, 45, 0.4) 25%,
            rgba(1, 15, 45, 1) 100%
        ),
        url(../img/carousel/5.png) no-repeat right;
    background-size: cover;
    min-height: 88.5vh;
}
*/ 
a .bg-grey {
    border-radius: unset;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

h4.aboutRFE{
    color: #181818;
    
}

h1.username {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 0;
    top: 60%;
    text-align: left;
    color: #ffffff;
    font-size: 6rem;
}

h1.username.second {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 0;
    top: 71%;
    text-align: left;
    color: #ffffff;
    font-size: 6rem;
}

h3.headerRFE {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 0;
    top: 85%;
    text-align: left;
    color: #ffffff;
    font-size: 2rem;
}

h1.descripRFE {
    font-family: 'Poppins', sans-serif;  
    font-weight: 800;
    color: var(--principal-color);
    font-size: 4rem;
}

.card.homeCard {
    border: unset;
}

.card-body a {
    text-decoration: unset;
}

a.LinkSKBO {
    color: #337bbe;
}
a:hover.LinkSKBO {
    color: #ddc52a;
}

/* Arrow */

.arrow {
    color: #eeeeee;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    bottom: 5%;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Flights */

.airlineslogo {
    height: 5rem;
    width: auto;
}

.btn-group-lg > .btn.flights,
.btn.flights {
    border-radius: 2rem;
}

.by.btn.disabled,
.by.btn:disabled,
fieldset:disabled .by.btn {
    pointer-events: none;
    opacity: unset;
}

/* bg */

.bg-dark-blue {
    background-color: #111620;
    color: #ffffff;
}

/* Screens */
@media (min-width: 0px) {
    /* Home */
}
@media (min-width: 992px) {
    /* Home */
    .navbar .container {
        max-width: 70rem;
    }

    /* carousel */
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: #aaaaaa;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}
